/* About Section */
.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-image: url('../Image/about.jpg'); /* Background image */
    background-size: cover; /* Ensures*/
    position: relative;
  }
  
  /* Content Section */
  .about-content {
    max-width: 50%;
  }
  
  .about-content h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about-content p {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    font-family: "Alegreya Sans";
  }
  
  /* Image Section */
  .about-image {
    max-width: 40%; /* Limit the image width */
  }
  
  .about-image img {
    width: 100%; /* Make image responsive */
    border-radius: 10px; /* Optional: rounded corners */
    
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .about {
      flex-direction: column;
      text-align: center;
    }
  
    .about-content {
      max-width: 100%;
    }
  
    .about-image {
      max-width: 100%;
      margin-top: 20px;
    }
  }
  