.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #786e7d;
  color: white;
}
.navbar h1{
font-size: 22px;
text-align: left;
flex-grow: 1;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 10px;
  font-weight: bold;
  font-size: 20px; ;
}
.navbar img{
    height: 50px;
    width: 50px;
}
.navbar a {
  text-decoration: none;
  color: white;
}
